body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f5f5f5;
}

header{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

#posts-container{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

.post-card{
    background:white;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.post-card h2{
    margin-top:0;
}

.read-more{
    display:inline-block;
    padding:10px 15px;
    background:#0066ff;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
.post-thumb{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:8px;
    margin-bottom:15px;
}
#posts-container{
    max-width:1300px;
    margin:auto;
    padding:20px;

    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap:25px;
}

.post-card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
    padding:15px;
}
.tag{
    display:inline-block;
    padding:4px 10px;
    margin:2px;
    background:#e8f0ff;
    border-radius:20px;
    font-size:12px;
}
#post-content{
    max-width:900px;
    margin:40px auto;
    padding:20px;
    background:#fff;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

#post-content img{
    max-width:100%;
    height:auto;
    display:block;
    margin:20px auto;
}

#post-content h1{
    margin-bottom:20px;
}

.site-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    background:#0f172a;
}

.site-header a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

#category-filters{
    text-align:center;
    margin:20px;
}

.cat-btn,
.page-btn{

    padding:8px 15px;
    margin:5px;

    border:none;
    border-radius:20px;

    cursor:pointer;
}

.cat-btn:hover,
.page-btn:hover{

    opacity:.8;
}