body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f5f5f5;
}

header{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}
header,
.site-header,
.top-header{

    padding:8px 15px !important;
    min-height:auto !important;
}

header h1,
.logo{

    margin:0 !important;
    line-height:1.2 !important;
}
#posts-container{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

.post-card{
    background:white;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.post-card h2{
    margin-top:0;
}

.read-more{
    display:inline-block;
    padding:10px 15px;
    background:#0066ff;
    color:white;
    text-decoration:none;
    border-radius:5px;
}
.post-thumb{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:8px;
    margin-bottom:15px;
}
#posts-container{
    max-width:1300px;
    margin:auto;
    padding:20px;

    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(320px,1fr));

    gap:25px;
}

.post-card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
    padding:15px;
}
.tag{
    display:inline-block;
    padding:4px 10px;
    margin:2px;
    background:#e8f0ff;
    border-radius:20px;
    font-size:12px;
}
#post-content{
    max-width:900px;
    margin:40px auto;
    padding:20px;
    background:#fff;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

#post-content img{
    max-width:100%;
    height:auto;
    display:block;
    margin:20px auto;
}

#post-content h1{
    margin-bottom:20px;
}

.site-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 25px;
    background:#0f172a;
}

.site-header a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

#category-filters{
    text-align:center;
    margin:20px;
}

.cat-btn,
.page-btn{

    padding:8px 15px;
    margin:5px;

    border:none;
    border-radius:20px;

    cursor:pointer;
}

.cat-btn:hover,
.page-btn:hover{

    opacity:.8;
}
.active{
    background:#2563eb;
    color:white;
}
.active-page{
    background:#111827;
    color:white;
}
.related-heading{
    margin-top:40px;
    text-align:center;
}

#related-posts{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:15px;

    margin-top:20px;
}

.related-card{

    display:block;

    text-decoration:none;

    color:inherit;

    padding:15px;

    background:white;

    border-radius:10px;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

    transition:.3s;
}

.related-card:hover{

    transform:translateY(-3px);

}
.site-footer{

    margin-top:50px;

    background:#0f172a;

    color:white;

    padding:40px 20px;
}

.footer-content{

    max-width:1200px;

    margin:auto;

    text-align:center;
}

.footer-links{

    margin:20px 0;
}

.footer-links a{

    color:white;

    text-decoration:none;

    margin:0 12px;
}

.footer-links a:hover{

    text-decoration:underline;
}

.copyright{

    opacity:.8;
}
/* to remove extra space between pagination and footer */
@media (max-width:768px){

    #posts-container{
        margin-bottom:0 !important;
        padding-bottom:0 !important;
    }

    #pagination{                            
        margin-bottom:5px !important;
        padding-bottom:0 !important;
    }

     .site-footer{
        margin-top:0 !important;
        padding-top:0 !important;
    }

    .sidebar{
        display:none !important;
    }

    .featured-section{
        display:none !important;
    }
}
.related-thumb{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:8px;
    margin-bottom:10px;
}
.related-link{
    display:block;
    text-decoration:none;
    color:#2563eb;
    font-weight:bold;
    margin-top:10px;
}

.related-link:hover{
    text-decoration:underline;
}
.post-nav{
margin:20px 0;
}

.back-btn{
display:inline-block;
padding:10px 18px;
background:#2563eb;
color:white;
text-decoration:none;
border-radius:8px;
font-weight:600;
}

.back-btn:hover{
opacity:.9;
}
.dark .post-card h2,
.dark .sidebar h3,
.dark .featured-card a,
.dark .latest-link a{
    color:white !important;
}

.dark #post-content,
.dark #post-content *{
    color:white !important;
}
.dark #post-content{
    color:white;
}

.dark #post-content p,
.dark #post-content span,
.dark #post-content div,
.dark #post-content li,
.dark #post-content h1,
.dark #post-content h2,
.dark #post-content h3,
.dark #post-content h4{
    color:white !important;
}

.dark #post-content a{
    color:#60a5fa !important;
}
.dark img{
    opacity:1;
}

.dark{
background:#111827;
color:white;
}

.dark .post-card{
background:#1f2937;
color:white;
}

.dark a{
color:#60a5fa;
}
.dark .post-card{

background:#1f2937;

}

.dark .post-card h2{

color:white;

}

.dark .post-card p{

color:#d1d5db;

}
.dark .related-card h4{

color:white;

}

.dark .sidebar{

background:#1f2937;

color:white;

}
.dark .tag{
    background:#2563eb;
    color:white !important;
}

.dark .read-more{
    background:#2563eb;
    color:white !important;
}

.dark .read-more:hover{
    background:#1d4ed8;
}
.dark #post-content,
.dark #post-content *{
    color:#f3f4f6 !important;
}
.dark #post-content a{
    color:#60a5fa !important;
}
.dark #post-content{
    background:#111827;
}
nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px 20px;

}
.nav-left{

display:flex;

align-items:center;

gap:20px;

}
#featured-posts{
    display:block !important;
    margin:10px 0 !important;
}

.featured-card{
    padding:8px 0 !important;
    margin:0 !important;

    border-bottom:1px solid #444 !important;
}

.featured-card a{
    display:block !important;

    /* color:#fff !important; */
    text-decoration:none !important;
    color:inherit !important;  /* if site switches between dark and light modes and you want it readable in both: */
    font-weight:500 !important;
    font-size:14px !important;
    line-height:1.4 !important;

    word-break:break-word !important;
    overflow-wrap:anywhere !important;
}

.featured-card:last-child{
    border-bottom:none !important;
}


.page-layout{

display:grid;

grid-template-columns:3fr 1fr;

gap:25px;

align-items:start;

}

.sidebar{

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 4px 10px rgba(0,0,0,.08);

position:sticky;

top:20px;

}
.sidebar h3{

border-bottom:2px solid #2563eb;

padding-bottom:8px;

margin-top:25px;

}
.sidebar a{

display:block;

padding:8px 0;

text-decoration:none;

}

.related-section{
    background:#f8fafc;
    padding:20px;
    border-radius:12px;
}
.dark .related-section{
    background:#1f2937;
}

.full-card{
width:100%;
max-width:100%;
margin:20px auto;
padding:35px;
background:#ffffff;
border-radius:18px;
box-shadow:0 4px 18px rgba(0,0,0,.10);
line-height:1.8;
box-sizing:border-box;
}
.dark .full-card{
background:#111827;
color:#f3f4f6;
}

.dark .full-card h1,
.dark .full-card h2,
.dark .full-card h3,
.dark .full-card p,
.dark .full-card li{
color:#f3f4f6 !important;
}

.my-top-header{
    display:none !important;
}
#post-content .my-top-header{
    display:none !important;
}

/* parent that contains sidebar + main */
/* #post-content > div:not(.my-top-header){
    display:flex;
    gap:25px;
    align-items:flex-start;
} */
table{
    width:100% !important;
    border-collapse:collapse !important;

    background:#1a1a1a !important;
    color:#ffffff !important;

    border:1px solid #555 !important;
    max-width:100% !important;

    table-layout:fixed !important;

    margin:20px 0 !important;
}

table th{
    background:#1d4ed8 !important;
    color:#000 !important;

    font-weight:700 !important;
    padding:14px !important;

    border:1px solid #666 !important;
}

table td{
    color:#fff !important;
    background:#222 !important;

    padding:12px 14px !important;
    border:1px solid #555 !important;

    line-height:1.6 !important;
}
table th,
table td{

    padding:10px !important;

    border:1px solid #555 !important;

    white-space:normal !important;
    word-break:break-word !important;
    overflow-wrap:anywhere !important;

    vertical-align:top !important;
}
table tr:nth-child(even) td{
    background:#2b2b2b !important;
}

table tr:hover td{
    background:#333 !important;
}
/* Parent div that contains sidebar + main */
div:has(> .sidebar):has(> .main){
    display:flex !important;
    align-items:flex-start !important;
    gap:20px !important;
}
.sidebar{
      /* margin-left:0 !important; there was space on left of sidebar .so using -40 instead of 0 */
  flex:0 0 220px !important;
    width:220px !important;
    min-width:220px !important;

    position:sticky;
    top:20px;

    margin-left:0 !important;

    height:calc(100vh - 40px) !important;

    overflow-y:auto !important;
    overflow-x:hidden !important;

    padding-right:6px;

    flex-shrink:0;
}

/* Chrome / Edge */
.sidebar::-webkit-scrollbar{
    width:8px;
}

.sidebar::-webkit-scrollbar-track{
    background:#0d1830;
    border-radius:10px;
}

.sidebar::-webkit-scrollbar-thumb{
    background:#4c7cff;
    border-radius:10px;
}

.sidebar::-webkit-scrollbar-thumb:hover{
    background:#6b95ff;
}

.main{
    flex:1 1 auto !important;
    min-width:0 !important;

    overflow:hidden !important;

    float:none !important;

    position:relative !important;
    left:auto !important;
    right:auto !important;
}


/* remove any old Blogger spacing: */
.main section{
    max-width:100%;
}

.main *{
    max-width:100% !important;
    box-sizing:border-box;
}

.main img,
.main table,
.main pre,
.main iframe{
    max-width:100% !important;
}
@media (max-width:768px){

    div:has(> .sidebar):has(> .main){
        display:block !important;
    }

    .sidebar{
        display:none !important;
    }

    .main{
        width:100% !important;
    }

}


#post-content{
   display:block !important;
    gap:20px;
    align-items:flex-start;
}
#post-content h1{
    width:100%;
    display:block;
    margin-bottom:25px;
}

.faq-sect{
   display:block !important;
    width:100% !important;
    flex:0 0 100% !important;
    clear:both;
    margin-top:40px;
    display:block !important;
    position:relative !important;
    z-index:1;
    flex-basis:100%;
    margin-top:40px;
}

.blogger-post-footer{
    display:none !important;          /*for hiding blogger msg - thanu for visiting my page.pls,follow and comment */
}
.custom-layout{
    display:flex !important;
    gap:20px !important;
    align-items:flex-start !important;
}

.faq-sect,
.faq-section{

    display:block !important;

    width:100% !important;
    max-width:100% !important;

    clear:both !important;

    float:none !important;

    position:relative !important;
    left:0 !important;
    right:0 !important;

    margin-top:40px !important;

    flex:none !important;
}

#pdfBtn{
    color:inherit !important; 
    text-shadow:0 1px 2px rgba(0,0,0,.5);
}

#pdfBtn,
#pdfBtn *,
#pdfBtn b{
     color:inherit !important; 
}
/* GRID */

#image-grid,
.image-grid{

    display:grid !important;

    grid-template-columns:
    repeat(2,minmax(0,1fr)) !important;

    gap:20px !important;
}

/* CARD */

.image-card{

    position:relative !important;

    background:#fff !important;

    border-radius:16px !important;

    padding:16px !important;

    box-shadow:
    0 4px 14px rgba(0,0,0,.12) !important;

    display:flex !important;

    flex-direction:column !important;

    align-items:center !important;

    overflow:visible !important;

    height:100% !important;

    box-sizing:border-box !important;
}

/* SAME IMAGE AREA FOR ALL CARDS */

.image-box{

    width:100% !important;

    height:300px !important;

    background:#f2f2f2 !important;

    border-radius:12px !important;

    padding:12px !important;

    box-sizing:border-box !important;

    display:flex !important;

    align-items:center !important;

    justify-content:center !important;
}

.image-box img{

    max-width:100% !important;

    max-height:100% !important;

    width:auto !important;

    height:auto !important;

    object-fit:contain !important;

    display:block !important;
}

/* NUMBER CIRCLE */

.img-number{

    position:absolute !important;

    top:10px !important;

    left:10px !important;

    width:42px !important;

    height:42px !important;

    background:#ff5a36 !important;

    color:#fff !important;

    border-radius:50% !important;

    display:flex !important;

    align-items:center !important;

    justify-content:center !important;

    font-size:17px !important;

    font-weight:700 !important;

    z-index:100 !important;

    box-shadow:
    0 3px 10px rgba(0,0,0,.35) !important;
}

/* CAPTION */

.image-card p{

    margin-top:14px !important;

    padding:10px 6px !important;

    font-size:18px !important;

    font-weight:700 !important;

    line-height:1.5 !important;

    text-align:center !important;

    color:#111 !important;

    width:100% !important;

    min-height:55px !important;

    display:flex !important;

    align-items:center !important;

    justify-content:center !important;
}

/* DARK MODE */

body.dark-mode .image-card{

    background:#1f1f1f !important;
}

body.dark-mode .image-card p{

    color:#fff !important;
}

body.dark-mode .image-box{

    background:#2b2b2b !important;
}

/* MOBILE */

@media(max-width:768px){

    #image-grid,
    .image-grid{

        grid-template-columns:1fr !important;
    }

    .image-box{

        height:260px !important;
    }
}
.back-home-btn,
.back-btn,
.home-btn{

    background:#1e4fa8 !important;

    color:#fff !important;

    font-weight:700 !important;

    border:none !important;

    border-radius:8px !important;

    text-decoration:none !important;
}

.back-home-btn:hover,
.back-btn:hover,
.home-btn:hover{

    background:#163d84 !important;
}
.post-nav-buttons{
    display:flex;
    gap:12px;
    margin:20px 0;
}

.nav-btn{
    display:inline-flex;
    align-items:center;
    justify-content:center;

    padding:10px 18px;

    border-radius:8px;
    text-decoration:none;

    background:#2563eb;
    color:#fff;

    border:none;
    cursor:pointer;

    font-size:14px;
    font-weight:600;

    transition:0.3s;
}

.nav-btn:hover{
    opacity:0.9;
    transform:translateY(-1px);
}
body.dark-mode .nav-btn{
    background:#374151;
    color:#fff;
}

body.dark-mode .nav-btn:hover{
    background:#4b5563;
}
body.dark-mode .image-card p{
    position:static !important;
    top:auto !important;
    left:auto !important;
    bottom:auto !important;
    right:auto !important;

    transform:none !important;

    margin-top:10px !important;

    display:block !important;

    color:#2196f3 !important;
}
.buy-nav{

    background:#ff6b00;

    color:#fff !important;

    padding:8px 16px;

    border-radius:6px;

    font-weight:700;

    text-decoration:none;
   
    text-decoration:none;
  
    animation:pulseBuy 2s infinite;

}
.footer-links{
    display:flex;
    /* justify-content:space-between; */
    align-items:flex-start;
    flex-wrap:wrap;
}

.footer-right{
    margin-left:auto;
}
.buy-nav:hover{

    transform:translateY(-2px);

}
.buy-footer-btn{

    display:inline-block;

    padding:12px 22px;

    background:#ff6b00;

    color:white;

    font-weight:bold;

    border-radius:8px;

    text-decoration:none;

    animation:pulseBuy 1.8s infinite;

    box-shadow:0 0 12px rgba(255,107,0,.4);

}

@keyframes pulseBuy{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.08);
    }

    100%{
        transform:scale(1);
    }

}
body.dark-mode .buy-footer-btn{

    background:#ff8c00;

    color:white;

}

nav{
  
     display:flex !important;
    justify-content:space-between !important;
    align-items:center !important;
    width:100% !important;
}

.nav-left{
   display:flex !important;
    gap:15px;
    margin-right:auto !important;
}

.nav-right{
  
    display:flex !important;
    gap:12px;
    margin-left:auto !important;
    align-items:center;
}
.social-icons{

    width:100%;

    display:flex;

    justify-content:center;

    gap:25px;
 text-align:center;
    margin-top:30px;

}

.social-icons a{

    font-size:30px;

    text-decoration:none;

    transition:.3s;

}

.social-icons a:hover{

    transform:translateY(-4px) scale(1.1);

}
.social-icons i{
    font-size:32px;
}

.social-icons a{
    color:inherit;
}
.download-btn,#pdfBtn {     /*in download pdf 10 button */
  position: relative;
  display: inline-block;
  padding: 14px 32px;
  background: linear-gradient(135deg,#ffd54f,#ffeb3b);
  color: #111;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px rgba(255,235,59,.5);
  animation: pulseGlow 2s infinite;
}

.download-btn,#pdfBtn:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 0 25px rgba(255,235,59,.8);
}

.download-btn,#pdfBtn:active {
  transform: scale(0.97);
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(255,235,59,.7);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255,235,59,0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255,235,59,0);
  }
}
.download-btn,#pdfBtn::before {
  content: "";            /*Add animated ripple shine in download pdf 10 button */
  position: absolute;
  top: 0;
  left: -120%;
  width: 60%;
  height: 100%;
  background: rgba(255,255,255,.5);
  transform: skewX(-25deg);
  animation: shine 2.5s infinite;
}

@keyframes shine {
  100% {
    left: 150%;
  }
}

.ripple{
  position:absolute;
  border-radius:50%;
  background:rgba(255,255,255,.8);
  transform:scale(0);
  animation:rippleEffect .6s linear;
  pointer-events:none;
}

@keyframes rippleEffect{
  to{
    transform:scale(4);
    opacity:0;
  }
}

.post-actions{
    display:flex;
    justify-content:flex-end;
    margin-bottom:15px;
     position:sticky;
    top:10px;
    display:flex;
    z-index:10;
}

.quiz-btn{
    background:#ff6b00;
    color:#fff !important;
    padding:10px 18px;
    border-radius:8px;
    text-decoration:none;
    font-weight:700;
    transition:.3s;
}

.quiz-btn:hover{
    transform:translateY(-2px);
}

body.dark-mode .quiz-btn{
    background:#ff8c00;
    color:#fff !important;
}

.post-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#quizBtn{
    position:fixed !important;
    top:100px !important;
    right:20px !important;
    background:#ff9800 !important;
    color:#fff !important;
    padding:10px 18px !important;
    border-radius:6px !important;
    text-decoration:none !important;
    z-index:99999 !important;
}
body.dark #quizTitle {
  color: red !important;
}

body:not(.dark) #quizTitle {
  color: #111111;
}
html,
body{
    margin:0 !important;
    padding:0 !important;  /* there was lot of widespace above quiz.html header  */
}

header{
    margin-top:0 !important;
}
header{
    position:sticky;
    top:0;

    z-index:999999 !important;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header nav{
    display:flex !important;
    gap:15px;
}

header nav a{
    display:inline-block !important;
    color:inherit !important;
}
